// <ОБЫЧНЫЕ ШРИФТЫ>==========================================================================================
@import url(https://fonts.googleapis.com/css?family=Montserrat:300italic,regular,italic,500,500italic,700,700italic);

// <ИКОНОЧНЫЙ ШРИФТ>=========================================================================================
@font-face {
  font-family: "icons";
  src: url("../fonts/font-icon/icons.eot?h6jm8f");
  src: url("../fonts/font-icon/icons.eot?h6jm8f#iefix") format("embedded-opentype"),
    url("../fonts/font-icon/icons.ttf?h6jm8f") format("truetype"),
    url("../fonts/font-icon/icons.woff?h6jm8f") format("woff"),
    url("../fonts/font-icon/icons.svg?h6jm8f#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="__icon-"],
[class*=" __icon-"]::before {
  @include fonts-icon-styles;
}

.__icon-checkbox-off:before {
  content: "\e801";
}
.__icon-checkbox-on:before {
  content: "\e802";
}
.__icon-radio-button-off:before {
  content: "\e803";
}
.__icon-radio-button-on:before {
  content: "\e804";
}
.__icon-expand:before {
  content: "\e906";
}
.__icon-arrow:before {
  content: "\e901";
}
.__icon-cricket:before {
  content: "\e915";
}
.__icon-moon:before {
  content: "\e908";
}
.__icon-date:before {
  content: "\e904";
}
.__icon-desktop:before {
  content: "\e905";
}
.__icon-filter:before {
  content: "\e907";
}
.__icon-person:before {
  content: "\e909";
}
.__icon-phone:before {
  content: "\e90a";
}
.__icon-play-video:before {
  content: "\e90b";
}
.__icon-plugin:before {
  content: "\e90c";
}
.__icon-portfolio:before {
  content: "\e90d";
}
.__icon-programming:before {
  content: "\e90e";
}
.__icon-question-mark:before {
  content: "\e90f";
}
.__icon-web-development:before {
  content: "\e914";
}
.__icon-sun:before {
  content: "\e913";
}
.__icon-skills:before {
  content: "\e912";
}
.__icon-activity:before {
  content: "\e900";
}